<template lang="pug">
  v-container
    p {{ text }}
    v-btn(color="success" @click="text = 'Новый текст'") Нажми
</template>

<script>

export default {
  data: () => ({
    text: 'Текст'
  }),
  head () {
    return { title: 'Заголовок' }
  }
}
</script>
